{% extends "base.html.twig" %}

{% block body %}

    <section id="section-titre">

        <div class="container">
            <h1>BIO&VIE</h1>
            <h3>Votre catalogue</h3>
            <h3>des professionnels certifiés bio</h3>
        </div>

	</section>

    <section id="section-nombre">
            
            <div class="image">
                <img title="icon-blé" src="./../images/index/infos.jpg" alt="logo représentant des épis de blés">
            </div>

            <div class="infos">
                <img title="icon-blé" src="./../images/icons/icon-ble.png" alt="logo représentant des épis de blés">
                <p class="nombre">{{ donnees }}</p>
                <p>professionnels</p>
                <img id="img-France" title="icon-france" src="./../images/icons/icon-france.png" alt="logo représentant la carte de France">
                <p>Dans la France entière</p>
            </div>

	</section>

    <section id="section-presentation">

        <div class="container">
            

        </div>

	</section>

{% endblock %}