{% extends 'back.html.twig' %}

{% block title %}Modification Catégorie{% endblock %}

{% block body %}
    <div class="container-body">
        <h1>Modification Catégorie</h1>

        {{ include('categories/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="retour" href="{{ path('app_categories_index') }}">Retour à la liste des catégories</a>
    </div>

{% endblock %}
