{% extends 'back.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
    <div class="container-body">
        <h1>Création nouvelle catégorie</h1>

        {{ include('categories/_form.html.twig') }}

        <a class="retour" href="{{ path('app_categories_index') }}">Retour à la liste des catégories</a>
    </div>
{% endblock %}
