{% extends 'back.html.twig' %}

{% block title %}Accueil Administration{% endblock %}

{% block body %}

    <div class="container-body">

        <h1>Bienvenue dans l'administration du site BIO&VIE</h1>

        

    </div>

{% endblock %}