@font-face {
  font-family: 'montserrat-regular';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat-medium';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat-bold';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat-black';
  src: url('../fonts/Montserrat-Black.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
.container-back {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.container-back header {
  min-width: 20%;
  height: 100%;
  background-color: #2a2e34;
}
.container-back header .container {
  width: 60%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-back header .container .site {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.container-back header .container .site a {
  color: #4accb1;
  font-family: 'montserrat-regular';
  font-size: clamp(2vmin, 4vmin, 8vmin);
  margin-bottom: 2vh;
  text-decoration: none;
}
.container-back header .container .site a :visited {
  color: #4accb1;
}
.container-back header .container .site img {
  width: clamp(5vmin, 10vmin, 15vmin);
}
.container-back header .container .barre-nav a {
  color: #4accb1;
  font-family: 'montserrat-regular';
  font-size: clamp(1vmin, 2vmin, 6vmin);
  text-decoration: none;
}
.container-back header .container .barre-nav a :visited {
  color: #4accb1;
}
.container-back header .container .barre-nav a p {
  margin-bottom: 1vh;
}
.container-back header .container #topnav_hamburger_icon {
  display: none;
}
.container-back header .container #topnav_responsive_menu {
  display: none;
}
.container-back .container-body {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 5vh 1vw;
}
.container-back .container-body h1 {
  font-family: 'montserrat-medium';
  margin-bottom: 10vh;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: clamp(0.5vw, 2vw, 4vw);
  text-align: center;
}
.container-back .container-body a {
  font-family: 'montserrat-regular';
  font-size: clamp(1vmin, 2.25vmin, 6vmin);
  color: black;
  margin-bottom: 5vh;
}
.container-back .container-body a :visited {
  color: black;
}
.container-back .container-body table {
  width: 95%;
}
.container-back .container-body table th {
  text-align: left;
  font-size: clamp(1vmin, 2vmin, 6vmin);
  color: #4accb1;
  font-family: 'montserrat-regular';
  background-color: #202327;
  border-radius: 10px 10px 0 0;
  padding-left: 1vh;
  line-height: 4vh;
}
.container-back .container-body table td {
  padding-left: 1vh;
  line-height: 6vh;
  font-size: clamp(1vmin, 1.75vmin, 6vmin);
  font-family: 'montserrat-regular';
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.container-back .container-body table td .actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 30%;
  justify-content: space-around;
  padding: 0 2vw;
}
.container-back .container-body table td .actions form {
  justify-content: space-evenly;
}
.container-back .container-body table td .actions :hover {
  cursor: pointer;
}
.container-back .container-body table td .actions .btn {
  font-size: clamp(1vmin, 1.75vmin, 6vmin);
  font-family: 'montserrat-regular';
  padding: 0.75vh 1vw;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75);
}
.container-back .container-body table td .actions .modification {
  background-color: #4accb1;
}
.container-back .container-body table td .actions .suppression {
  background-color: #ff4444;
}
.container-back .container-body ul {
  margin-top: 3vh;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.container-back .container-body ul .active {
  background-color: #2a2e34;
}
.container-back .container-body ul :hover:not(.active) {
  background-color: #2a2e34;
}
.container-back .container-body ul .hidden {
  display: none;
}
.container-back .container-body ul li {
  margin-right: 1vh;
  background-color: #525a66;
  padding: 1vmin;
}
.container-back .container-body ul li a {
  text-decoration: none;
  font-size: clamp(1vmin, 2vmin, 6vmin);
  font-family: 'montserrat-regular';
  color: #4accb1;
}
.container-back .container-body ul li a :visited {
  color: #4accb1;
}
.container-back .container-body .retour {
  margin-top: 5vh;
}
.container-back .container-body form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80%;
  align-items: center;
  padding: 1vh 1.5vw;
}
.container-back .container-body form #operateurs {
  height: 55vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.container-back .container-body form #operateurs div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.container-back .container-body form .sauvegarde {
  margin-top: 5vh;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  font-size: clamp(1vmin, 2vmin, 6vmin);
  background-color: #4accb1;
  font-family: 'montserrat-regular';
  padding: 0.75vh 1vw;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75);
}
.container-back .container-body form .input-form {
  font-size: clamp(1.25vh, 1vw, 3vw);
  width: 20vw;
  line-height: 3vh;
}
.container-back .container-body form label {
  font-size: clamp(1vmin, 2vmin, 6vmin);
  margin-right: 1vh;
  width: 13vw;
  line-height: 3vh;
}
.container-back .container-body .container-admin {
  height: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.container-back .container-body .container-admin a {
  text-decoration: none;
}
.container-back .container-body .container-admin .card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.75);
  justify-content: space-between;
}
.container-back .container-body .container-admin .card .img-back {
  width: 250px;
  height: auto;
  border-radius: 10px 0 0 10px;
}
.container-back .container-body .container-admin .card .card-body {
  min-width: 12vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 2vh 2vw;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
}
.container-back .container-body .container-admin .card .card-body .card-title {
  font-size: clamp(1vmin, 2vmin, 6vmin);
  font-family: 'montserrat-regular';
}
@media all and (max-width: 656px) {
  .container-back {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
  }
  .container-back header {
    width: 100%;
    height: auto;
    position: sticky;
  }
  .container-back header .container {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    flex-direction: row;
    box-sizing: border-box;
    padding: 2vh 3vw;
    /* position responsive menu at the right of the screen */
    /* and let's slide it in from the right */
  }
  .container-back header .container .site {
    flex-direction: row;
  }
  .container-back header .container .site a {
    font-size: 6vmin;
    margin-bottom: 0vh;
  }
  .container-back header .container .site a :visited {
    color: #4accb1;
  }
  .container-back header .container .site img {
    display: none;
  }
  .container-back header .container .barre-nav {
    display: none;
  }
  .container-back header .container #topnav_hamburger_icon {
    z-index: 50;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px #93ffe9 solid;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .container-back header .container #topnav_hamburger_icon i {
    color: #93ffe9;
    font-size: 6vw;
    top: 25%;
    left: 25%;
  }
  .container-back header .container #root {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .container-back header .container #topnav_responsive_menu {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    transform-origin: 0% 0%;
    transform: translate(200%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background-image: url(../images/burger/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container-back header .container #topnav_responsive_menu ul {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-top: 10vh;
  }
  .container-back header .container #topnav_responsive_menu ul li {
    color: #93ffe9;
  }
  .container-back header .container #topnav_responsive_menu ul li .icon-menu-open {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px #93ffe9 solid;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .container-back header .container #topnav_responsive_menu ul li .icon-menu-open i {
    color: #93ffe9;
    font-size: 6vw;
    top: 25%;
    left: 25%;
  }
  .container-back header .container #topnav_responsive_menu ul li a {
    color: #93ffe9;
    font-size: 6vmin;
    text-decoration: none;
  }
  .container-back header .container #topnav_responsive_menu.open {
    transform: none;
    position: fixed;
  }
  .container-back .container-body {
    width: 100%;
    padding: 2vh 0vw;
  }
  .container-back .container-body h1 {
    margin-bottom: 4vh;
    width: 90%;
    font-size: 4.5vmin;
  }
  .container-back .container-body a {
    font-size: 4vmin;
    margin-bottom: 2.5vh;
  }
  .container-back .container-body table {
    width: 100%;
  }
  .container-back .container-body table th {
    font-size: 4vmin;
    border-radius: 0;
  }
  .container-back .container-body table td {
    padding-left: 1vw;
    padding-right: 1vw;
    line-height: 4vh;
    font-size: 4vmin;
    align-items: center;
  }
  .container-back .container-body table td .actions {
    width: 40%;
  }
  .container-back .container-body table td .actions .btn {
    font-size: 3.5vmin;
    padding: 0.75vh 1vw;
  }
  .container-back .container-body ul li {
    padding: 1.5vmin;
  }
  .container-back .container-body ul li a {
    font-size: 4.5vmin;
  }
  .container-back .container-body .container-admin {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .container-back .container-body .container-admin a {
    text-decoration: none;
  }
  .container-back .container-body .container-admin .card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.75);
    justify-content: space-between;
  }
  .container-back .container-body .container-admin .card .img-back {
    width: 300px;
    border-radius: 10px 10px 0 0;
  }
  .container-back .container-body .container-admin .card .card-body .card-title {
    font-size: 3.5vmin;
  }
}
