@font-face {
  font-family: 'montserrat-regular';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat-medium';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat-bold';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat-black';
  src: url('../fonts/Montserrat-Black.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
.container-back {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.container-back header {
  width: 20%;
  height: 100%;
  background-color: #2a2e34;
}
.container-back header .container {
  width: 60%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-back header .container .site {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.container-back header .container .site a {
  color: #4accb1;
  font-family: 'montserrat-regular';
  font-size: clamp(2vmin, 4vmin, 8vmin);
  margin-bottom: 2vh;
  text-decoration: none;
}
.container-back header .container .site a :visited {
  color: #4accb1;
}
.container-back header .container .site img {
  width: clamp(5vmin, 10vmin, 15vmin);
}
.container-back header .container .barre-nav a {
  color: #4accb1;
  font-family: 'montserrat-regular';
  font-size: clamp(1vmin, 2vmin, 6vmin);
  text-decoration: none;
}
.container-back header .container .barre-nav a :visited {
  color: #4accb1;
}
.container-back header .container .barre-nav a p {
  margin-bottom: 1vh;
}
.container-back .container-body {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 5vh 1vw;
}
.container-back .container-body h1 {
  font-family: 'montserrat-medium';
  margin-bottom: 10vh;
}
.container-back .container-body a {
  font-family: 'montserrat-regular';
  font-size: clamp(1vmin, 2.25vmin, 6vmin);
  color: black;
  margin-bottom: 5vh;
}
.container-back .container-body a :visited {
  color: black;
}
.container-back .container-body table {
  width: 95%;
}
.container-back .container-body table th {
  text-align: left;
  font-size: clamp(1vmin, 2vmin, 6vmin);
  color: #4accb1;
  font-family: 'montserrat-regular';
  background-color: #202327;
  border-radius: 10px 10px 0 0;
  padding-left: 1vh;
  line-height: 4vh;
}
.container-back .container-body table td {
  padding-left: 1vh;
  line-height: 6vh;
  font-size: clamp(1vmin, 1.75vmin, 6vmin);
  font-family: 'montserrat-regular';
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.container-back .container-body table td .actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 20%;
  justify-content: space-around;
}
.container-back .container-body table td .actions form {
  justify-content: space-evenly;
}
.container-back .container-body table td .actions :hover {
  cursor: pointer;
}
.container-back .container-body table td .actions .btn {
  font-size: clamp(1vmin, 1.75vmin, 6vmin);
  font-family: 'montserrat-regular';
  padding: 0.75vh 1vw;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.75);
}
.container-back .container-body table td .actions .modification {
  background-color: #4accb1;
}
.container-back .container-body table td .actions .suppression {
  background-color: #ff4444;
}
.container-back .container-body ul {
  margin-top: 3vh;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.container-back .container-body ul .active {
  background-color: #2a2e34;
}
.container-back .container-body ul :hover:not(.active) {
  background-color: #2a2e34;
}
.container-back .container-body ul .hidden {
  display: none;
}
.container-back .container-body ul li {
  margin-right: 1vh;
  background-color: #525a66;
  padding: 1vmin;
}
.container-back .container-body ul li a {
  text-decoration: none;
  font-size: clamp(1vmin, 2vmin, 6vmin);
  font-family: 'montserrat-regular';
  color: #4accb1;
}
.container-back .container-body ul li a :visited {
  color: #4accb1;
}
.container-back .container-body .retour {
  margin-top: 5vh;
}
.container-back .container-body form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
