@font-face {
  font-family: 'montserrat-regular';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat-medium';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat-bold';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat-black';
  src: url('../fonts/Montserrat-Black.ttf') format('truetype');
}
*,
body {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: sticky;
  top: 0px;
  transition: all 0.2s ease-in-out;
  z-index: 50;
  background-color: white;
}
header .container {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}
header .container .barre-nav {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}
header .container .barre-nav .lien-nav {
  text-decoration: none;
  font-family: 'montserrat-regular';
  color: black;
  font-size: 1.5vmin;
}
header .container .barre-nav .lien-nav :visited {
  color: black;
}
header .container .barre-nav .sep-nav {
  margin-left: 2vw;
  margin-right: 2vw;
}
header .container .nom-site {
  text-decoration: none;
  font-family: 'montserrat-black';
  font-size: 2.75vmin;
  color: black;
}
header .container .nom-site :visited {
  color: black;
}
header .container #topnav_hamburger_icon {
  display: none;
}
header .container #topnav_responsive_menu {
  display: none;
}
#section-titre {
  width: 100%;
  height: auto;
  background-image: url(../images/index/bandeau-desktop.jpg);
  background-repeat: no-repeat;
  padding-top: 30vh;
  padding-bottom: 45vh;
}
#section-titre .container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#section-titre .container h1 {
  color: white;
  font-size: 8.75vw;
  font-family: 'montserrat-black';
}
#section-titre .container h3 {
  color: white;
  font-size: 2.5vw;
  font-family: 'montserrat-regular';
}
#section-titre .container .sous-titre {
  margin-top: -2vh;
  margin-bottom: -1vh;
}
#section-nombre {
  width: 70%;
  height: auto;
  position: absolute;
  z-index: 1;
  left: 15vw;
  top: 78vh;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
}
#section-nombre .image .img-desktop {
  display: block;
  width: 100%;
  height: 100%;
}
#section-nombre .image .img-mobile {
  display: none;
}
#section-nombre .infos {
  width: 45vmin;
  height: auto;
  background-color: #2a2e34;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  box-sizing: border-box;
}
#section-nombre .infos img {
  width: 4.5vw;
  color: white;
}
#section-nombre .infos p {
  font-size: 1vw;
  font-family: 'montserrat-regular';
  color: #93ffe9;
}
#section-nombre .infos .nombre {
  font-size: 3.5vw;
  font-family: 'montserrat-regular';
  color: #93ffe9;
  margin-top: -10px;
}
#section-nombre .infos #img-France {
  margin: 2vh 0vw;
}
#section-presentation {
  width: 100%;
  height: auto;
  padding-top: 20vh;
  padding-bottom: 20vh;
  z-index: 1;
}
#section-presentation .container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 1;
}
#section-presentation .container .image {
  z-index: 1;
  position: relative;
}
#section-presentation .container .image img {
  z-index: 1;
  width: 100%;
}
#section-presentation .container .image .bande-verte-2 {
  position: absolute;
  width: 13vw;
  min-height: 4vh;
  background-color: #93ffe9;
  left: -12vmin;
  bottom: -2vmin;
  z-index: 25;
}
#section-presentation .container .infos {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  padding: 3vh 3vw;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 50vmin;
}
#section-presentation .container .infos h2 {
  text-align: left;
  font-size: 2.5vw;
  font-family: 'montserrat-black';
  color: black;
  z-index: 5;
}
#section-presentation .container .infos .bande-verte-1 {
  width: 23vw;
  min-height: 3vh;
  background-color: #93ffe9;
  z-index: 1;
  margin-left: -28px;
  margin-top: -18px;
  margin-bottom: 4vh;
}
#section-presentation .container .infos p {
  text-align: left;
  font-size: 1.25vw;
  font-family: 'montserrat-regular';
  color: black;
}
#section-categories {
  width: 100%;
  height: auto;
  margin-top: -2vh;
  padding-bottom: 15vh;
}
#section-categories .container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
#section-categories .container div {
  border: none;
}
#section-categories .container div article {
  background-color: #202327;
  padding: 8vh 2vw 4vh 2vw;
  width: 19vw;
  height: 22vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
#section-categories .container div article .conteneur-image {
  position: relative;
  height: 12vmin;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#section-categories .container div article .conteneur-image .img-cat {
  min-width: 10vmin;
  width: 14vmin;
}
#section-categories .container div article .conteneur-image .cercle {
  position: absolute;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: rgba(152, 214, 214, 0.25);
  top: 60%;
  left: -13.5%;
}
#section-categories .container div article .conteneur-titre {
  display: flex;
  flex-direction: column;
  height: 8vh;
  align-items: center;
  justify-content: flex-end;
}
#section-categories .container div article .conteneur-titre p {
  color: #93ffe9;
  font-family: 'montserrat-black';
  background-color: #202327;
  font-size: 1.5vw;
  text-align: center;
  padding-top: 2.75vh;
}
#section-categories .container div .selection-categorie {
  background-color: #1c383c;
}
#section-categories .container div .selection-categorie .conteneur-titre p {
  background-color: #1c383c;
}
#section-categories .container div article:hover {
  background-color: #2a2e34;
  cursor: pointer;
}
#section-categories .container div article:hover .conteneur-titre {
  background-color: #2a2e34;
}
#section-categories .container div article:hover .conteneur-titre p {
  background-color: #2a2e34;
  color: white;
}
#section-artisans {
  width: 100%;
  height: auto;
  margin-top: -2vh;
  padding-bottom: 25vh;
}
#section-artisans .container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#section-artisans .container h2 {
  text-align: left;
  font-size: clamp(2vmin, 6vmin, 10vmin);
  font-family: 'montserrat-black';
  color: black;
  z-index: 5;
}
#section-artisans .container .bande-verte-3 {
  width: 24.5vw;
  height: 2.5vh;
  background-color: #93ffe9;
  margin-left: -35px;
  margin-top: -25px;
  z-index: 1;
}
#section-artisans .container .container-artisans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 10vh;
  z-index: 10;
}
#section-artisans .container .container-artisans .card {
  box-shadow: 0px 0px 3px 5px rgba(218, 218, 218, 0.5);
  z-index: 10;
  background-color: white;
  padding: 12vh 0 2vh 0;
}
#section-artisans .container .container-artisans .card a {
  text-decoration: none;
  height: 22vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}
#section-artisans .container .container-artisans .card a img {
  width: 8vw;
  max-height: 75%;
}
#section-artisans .container .container-artisans .card a .card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  height: 12vh;
  margin-top: 2vh;
}
#section-artisans .container .container-artisans .card a .card-body h5 {
  color: #4accb1;
  font-family: 'montserrat-bold';
  font-size: clamp(0.75vmin, 1.75vmin, 6vmin);
  font-weight: bold;
  text-align: center;
}
#section-artisans .container .container-artisans .card a .card-body .card-infos {
  display: flex;
  flex-direction: column;
  padding: 2vh 0vw;
  align-items: center;
  text-align: center;
  font-size: clamp(0.75vmin, 2vmin, 6vmin);
  color: black;
}
#section-artisans .container .container-artisans .card a .card-body .card-infos .gras {
  font-family: 'montserrat-bold';
  color: black;
  margin-bottom: 0.5vh;
  font-size: clamp(0.75vmin, 1.75vmin, 6vmin);
}
#section-artisans .container ul {
  margin-top: 10vh;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
#section-artisans .container ul .hidden {
  display: none;
}
#section-artisans .container ul :hover:not(.active) {
  background-color: #4accb1;
}
#section-artisans .container ul li {
  margin-right: 1vh;
  padding: 1vmin;
}
#section-artisans .container ul li p {
  font-size: clamp(1vmin, 2.5vmin, 6vmin);
  font-family: 'montserrat-black';
  color: black;
}
#section-artisans .container ul li :hover {
  cursor: pointer;
}
#section-artisans .container ul .active {
  margin-right: 1vh;
  padding: 1vmin;
}
#section-artisans .container ul .active p {
  color: #4accb1;
}
#section-artisans .container ul .active:hover {
  background-color: black;
}
#section-artisans .container ul .active:hover p {
  background-color: black;
}
.bande-verte-4 {
  width: 10vw;
  height: 4vh;
  background-color: #93ffe9;
  margin-left: 80vw;
  margin-top: -17vh;
  z-index: 1;
}
#section-contact {
  width: 100%;
  height: 85vh;
  background-image: url(../images/contact/bandeau-desktop.jpg);
  background-repeat: no-repeat;
  background-position: left -10px top -90px;
  padding-top: 13vh;
}
#section-contact .container-formulaire {
  width: 40%;
  margin-left: 19.5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-shadow: 1px 1px 3px 5px rgba(206, 206, 206, 0.5);
}
#section-contact .container-formulaire .formulaire {
  width: 80%;
  height: 58vh;
  padding: 6vh 3.5vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: white;
}
#section-contact .container-formulaire .formulaire h1 {
  font-size: clamp(3vmin, 4.5vmin, 6.5vmin);
  font-family: 'montserrat-black';
  margin-bottom: 4vh;
  color: #2a2d34;
}
#section-contact .container-formulaire .formulaire form {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#section-contact .container-formulaire .formulaire form .double-input-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#section-contact .container-formulaire .formulaire form .double-input-row .input-form {
  box-sizing: border-box;
  color: black;
  height: 2vh;
  font-size: clamp(1vmin, 1.75vh, 4vmin);
  font-family: 'montserrat-regular';
  background-color: #dfe8e7;
  border: none;
  padding: 2vh 1vw;
}
#section-contact .container-formulaire .formulaire form .double-input-row #form_nom {
  width: 15.6vw;
}
#section-contact .container-formulaire .formulaire form .double-input-row #form_prenom {
  width: 15.6vw;
}
#section-contact .container-formulaire .formulaire form .double-input-row #form_email {
  width: 19.2vw;
}
#section-contact .container-formulaire .formulaire form .double-input-row #form_telephone {
  width: 12vw;
}
#section-contact .container-formulaire .formulaire form .single-input-row .input-form {
  box-sizing: border-box;
  width: 100%;
  color: black;
  height: 2vh;
  font-size: clamp(1vmin, 1.75vh, 4vmin);
  font-family: 'montserrat-regular';
  background-color: #dfe8e7;
  border: none;
  padding: 2vh 1vw;
}
#section-contact .container-formulaire .formulaire form .single-input-row .textarea-form {
  box-sizing: border-box;
  width: 100%;
  color: black;
  line-height: 2vh;
  font-size: clamp(1vmin, 1.75vh, 4vmin);
  font-family: 'montserrat-regular';
  background-color: #dfe8e7;
  border: none;
  padding: 1vh 1vw;
}
#section-contact .container-formulaire .formulaire form ::placeholder {
  color: black;
  background-color: #dfe8e7;
  line-height: 3vh;
}
#section-contact .container-formulaire .formulaire form .envoyer {
  bottom: 15px;
  width: 55%;
  height: 5vh;
  background-color: black;
  color: white;
  text-align: center;
  font-size: clamp(1.5vmin, 2vh, 6vmin);
  font-family: 'montserrat-regular';
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
}
#section-contact .container-formulaire .formulaire form .envoyer i {
  margin-right: 5px;
}
#section-contact .disposition-droite {
  position: absolute;
  top: 18vh;
  right: 15vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 27%;
  box-sizing: content-box;
  box-shadow: 1px 1px 3px 5px rgba(206, 206, 206, 0.5);
}
#section-contact .disposition-droite .infos-droite {
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #202327;
  color: white;
  padding: 7vh 0vw;
}
#section-contact .disposition-droite .infos-droite h2 {
  color: #93ffe9;
  margin-bottom: 3vh;
  font-size: clamp(1vmin, 2.5vmin, 8vmin);
  font-family: 'montserrat-black';
  margin-left: 3.5vw;
}
#section-contact .disposition-droite .infos-droite .infos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1vh;
  align-items: center;
  margin-left: 3.5vw;
}
#section-contact .disposition-droite .infos-droite .infos i {
  width: 2vw;
}
#section-contact .disposition-droite .infos-droite .infos p {
  font-size: clamp(1vmin, 2.25vmin, 4vmin);
  font-family: 'montserrat-regular';
  margin-left: 0.9vw;
}
#section-contact .disposition-droite .map-droite {
  box-sizing: border-box;
  height: 42vh;
}
#section-contact .disposition-droite .map-droite iframe {
  width: 100%;
  height: 100%;
  border: none;
}
#section-fiche-artisan {
  width: 100%;
  height: auto;
  background-image: url(../images/unique/bandeau-desktop.jpg);
  background-repeat: no-repeat;
  padding: 23vmin 0 15vmin 0;
}
#section-fiche-artisan .container {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: 1px 1px 3px 5px rgba(206, 206, 206, 0.5);
}
#section-fiche-artisan .container .top-part {
  width: 100%;
  height: 10vmin;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #202327;
  color: #93ffe9;
  padding: 0vmin 2vmin 0vmin 4vmin;
  align-items: center;
  box-sizing: border-box;
}
#section-fiche-artisan .container .top-part img {
  margin-right: 2.5vmin;
  width: 8vmin;
}
#section-fiche-artisan .container .top-part h1 {
  font-family: 'montserrat-black';
  font-size: clamp(1vmin, 3.5vmin, 4vmin);
  margin-top: 1vh;
}
#section-fiche-artisan .container .bottom-part {
  width: 100%;
  height: 56vmin;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
}
#section-fiche-artisan .container .bottom-part .left-part {
  background-color: white;
  width: 55vmin;
  height: 100%;
  padding: 3vh 1.5vw 3vh 2vw;
  box-sizing: border-box;
}
#section-fiche-artisan .container .bottom-part .left-part h3 {
  color: #4accb1;
  margin-top: 2vh;
  font-family: 'montserrat-black';
  font-size: clamp(1vmin, 2.5vmin, 4vmin);
}
#section-fiche-artisan .container .bottom-part .left-part p {
  font-family: 'montserrat-regular';
  font-size: clamp(1vmin, 1.75vmin, 4vmin);
}
#section-fiche-artisan .container .bottom-part .left-part hr {
  margin-top: 3.5vh;
  margin-bottom: 3.5vh;
}
#section-fiche-artisan .container .bottom-part .right-part {
  width: 40vmin;
  height: 100%;
  background-color: #2a2e34;
  color: white;
  padding: 3vh 1.5vw 3vh 2vw;
  box-sizing: border-box;
}
#section-fiche-artisan .container .bottom-part .right-part h3 {
  color: #4accb1;
  margin-top: 2vh;
  font-family: 'montserrat-black';
  font-size: clamp(1vmin, 2.5vmin, 4vmin);
}
#section-fiche-artisan .container .bottom-part .right-part ul {
  padding-left: 0.5vw;
  list-style-type: '- ';
}
#section-fiche-artisan .container .bottom-part .right-part p {
  font-family: 'montserrat-regular';
  font-size: clamp(1vmin, 1.75vmin, 4vmin);
}
footer {
  width: 100%;
  height: auto;
  background-image: url(../images/bandeau-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
footer .container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
footer .container .pied {
  width: 25%;
}
footer .container .pied a {
  text-decoration: none;
  box-sizing: content-box;
}
footer .container .pied h2 {
  font-size: 10vmin;
  color: white;
  font-family: 'montserrat-black';
  margin-bottom: 2vh;
}
footer .container .pied p {
  font-size: 3vmin;
  color: #93ffe9;
  font-family: 'montserrat-regular';
  margin-bottom: 1vh;
}
@media all and (max-width: 1110px) {
  #section-fiche-artisan {
    height: auto;
    background-image: url(../images/unique/bandeau-desktop.jpg);
    background-position: left 50% top 75%;
    background-size: cover;
    padding: 28vh 0 20vh 0;
  }
  #section-fiche-artisan .container {
    width: 70%;
    top: 25vh;
    box-shadow: none;
  }
  #section-fiche-artisan .container .top-part {
    width: 100%;
    height: 16vh;
    padding: 1vmin 2vmin 0vmin 8vmin;
    align-items: center;
  }
  #section-fiche-artisan .container .top-part img {
    margin-right: 3.75vw;
    width: 10vmin;
  }
  #section-fiche-artisan .container .top-part h1 {
    font-size: 5vmin;
    margin-top: 0vmin;
  }
  #section-fiche-artisan .container .bottom-part {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  #section-fiche-artisan .container .bottom-part .left-part {
    width: 100%;
    padding: 7vmin 8vmin 8vmin 6vmin;
  }
  #section-fiche-artisan .container .bottom-part .left-part h3 {
    margin-top: 2vh;
    font-size: 4.5vmin;
  }
  #section-fiche-artisan .container .bottom-part .left-part p {
    font-size: 3vmin;
  }
  #section-fiche-artisan .container .bottom-part .left-part hr {
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
  }
  #section-fiche-artisan .container .bottom-part .right-part {
    width: 100%;
    padding: 7vmin 8vmin 8vmin 6vmin;
  }
  #section-fiche-artisan .container .bottom-part .right-part h3 {
    margin-top: 2vh;
    font-size: 4.5vmin;
  }
  #section-fiche-artisan .container .bottom-part .right-part ul {
    padding-left: 2vmin;
    list-style-type: '- ';
  }
  #section-fiche-artisan .container .bottom-part .right-part p {
    font-size: 3vmin;
  }
}
@media all and (max-width: 656px) {
  header {
    background-color: rgba(0, 0, 0, 0);
    height: 0;
  }
  header .container {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0);
    top: 50px;
    justify-content: flex-end;
    width: 90%;
    /* position responsive menu at the right of the screen */
    /* and let's slide it in from the right */
  }
  header .container .site {
    display: none;
  }
  header .container .barre-nav {
    display: none;
  }
  header .container #topnav_hamburger_icon {
    right: 50px;
    z-index: 50;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px #93ffe9 solid;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  header .container #topnav_hamburger_icon i {
    color: #93ffe9;
    font-size: 6vw;
    top: 25%;
    left: 25%;
  }
  header .container #topnav_responsive_menu {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    transform-origin: 0% 0%;
    transform: translate(200%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background-image: url(../images/burger/fond.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  header .container #topnav_responsive_menu .icon-menu-open {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px white solid;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  header .container #topnav_responsive_menu .icon-menu-open i {
    color: #93ffe9;
    font-size: 4vw;
    top: 25%;
    left: 25%;
  }
  header .container #topnav_responsive_menu ul {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-top: 15vh;
    margin-left: 20vw;
  }
  header .container #topnav_responsive_menu ul .titre-burger {
    position: relative;
  }
  header .container #topnav_responsive_menu ul .titre-burger .bande-verte-burger {
    position: absolute;
    width: 25vw;
    min-height: 1vh;
    background-color: #0b5e45;
    left: 8vw;
  }
  header .container #topnav_responsive_menu ul li h2 {
    color: #93ffe9;
    font-size: 9vmin;
    text-decoration: none;
    font-family: 'montserrat-black';
  }
  header .container #topnav_responsive_menu ul li a {
    color: white;
    font-size: 3.25vmin;
    text-decoration: none;
    font-family: 'montserrat-black';
  }
  header .container #topnav_responsive_menu.open {
    transform: none;
    position: fixed;
  }
  #section-titre {
    width: 100%;
    height: auto;
    background-image: url(../images/index/bandeau-mobile.jpg);
    background-size: auto;
    padding: 40vh 0 35vh 0;
  }
  #section-titre .container h1 {
    font-size: clamp(6vmin, 14.5vmin, 16vmin);
  }
  #section-titre .container h3 {
    font-size: clamp(2vmin, 6vmin, 10vmin);
  }
  #section-titre .container .sous-titre {
    margin-top: 0vh;
    margin-bottom: 0vh;
  }
  #section-nombre {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    flex-direction: column;
  }
  #section-nombre .image .img-desktop {
    display: none;
  }
  #section-nombre .image .img-mobile {
    display: block;
    width: 100%;
  }
  #section-nombre .infos {
    width: 100%;
    height: auto;
    padding: 8vh 0 8vh 0;
  }
  #section-nombre .infos img {
    width: 75px;
  }
  #section-nombre .infos p {
    font-size: 2.5vh;
  }
  #section-nombre .infos .nombre {
    font-size: 8vh;
    margin-top: -10px;
  }
  #section-nombre .infos #img-France {
    margin-top: 8vh;
  }
  #section-presentation {
    height: auto;
    margin-top: 0vh;
    padding-top: 12.5vh;
    padding-bottom: 12.5vh;
  }
  #section-presentation .container {
    width: 80%;
    flex-direction: column;
  }
  #section-presentation .container .image {
    padding-bottom: 5vmin;
    position: relative;
  }
  #section-presentation .container .image img {
    width: 100%;
  }
  #section-presentation .container .image .bande-verte-2 {
    position: absolute;
    width: 24vw;
    height: 4vmin;
    left: 63vmin;
    top: -2vmin;
    z-index: 15;
  }
  #section-presentation .container .infos {
    width: 100%;
  }
  #section-presentation .container .infos h2 {
    font-size: 7vmin;
    margin-top: 3vh;
  }
  #section-presentation .container .infos .bande-verte-1 {
    width: 70vw;
    margin-left: -20px;
  }
  #section-presentation .container .infos p {
    font-size: 3.5vmin;
    margin-top: 2vh;
  }
  #section-categories {
    width: 100%;
    height: auto;
    margin-top: 0vh;
    padding-bottom: 10vh;
  }
  #section-categories .container {
    width: 100%;
    justify-content: center;
  }
  #section-categories .container div article {
    width: 293px;
  }
  #section-categories .container div article .conteneur-image .img-cat {
    min-width: 20vmin;
  }
  #section-categories .container div article .conteneur-titre p {
    font-size: 18px;
  }
  #section-artisans {
    width: 100%;
    height: auto;
    margin-top: 0vh;
    padding-bottom: 10vh;
  }
  #section-artisans .container {
    width: 90%;
  }
  #section-artisans .container h2 {
    font-size: clamp(2vmin, 7vmin, 10vmin);
    margin-left: 4vh;
  }
  #section-artisans .container .bande-verte-3 {
    width: 70vw;
    margin-left: 0px;
    margin-top: -20px;
  }
  #section-artisans .container .container-artisans {
    grid-template-columns: repeat(2, 1fr);
  }
  #section-artisans .container .container-artisans .card {
    padding: 10vh 0 2vh 0;
  }
  #section-artisans .container .container-artisans .card a img {
    width: 18vw;
  }
  #section-artisans .container .container-artisans .card a .card-body {
    margin-top: 4vh;
  }
  #section-artisans .container .container-artisans .card a .card-body h5 {
    font-size: 2.5vmin;
  }
  #section-artisans .container .container-artisans .card a .card-body .card-infos {
    font-size: 2.5vmin;
  }
  #section-artisans .container .container-artisans .card a .card-body .card-infos .gras {
    font-size: 2.25vmin;
  }
  #section-artisans .container ul li p {
    font-size: 3.5vmin;
  }
  .bande-verte-4 {
    display: none;
  }
  #section-fiche-artisan {
    height: auto;
    background-image: url(../images/unique/bandeau-mobile.jpg);
    background-position: left 50% top 75%;
    background-size: cover;
    padding: 28vh 0 20vh 0;
  }
  #section-fiche-artisan .container {
    width: 90%;
    top: 25vh;
    box-shadow: none;
  }
  #section-fiche-artisan .container .top-part {
    width: 100%;
    height: 16vh;
    padding: 1vmin 2vmin 0vmin 8vmin;
    align-items: center;
  }
  #section-fiche-artisan .container .top-part img {
    margin-right: 3.75vw;
    width: 10vmin;
  }
  #section-fiche-artisan .container .top-part h1 {
    font-size: 5vmin;
    margin-top: 0vmin;
  }
  #section-fiche-artisan .container .bottom-part {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  #section-fiche-artisan .container .bottom-part .left-part {
    width: 100%;
    padding: 7vmin 8vmin 8vmin 6vmin;
  }
  #section-fiche-artisan .container .bottom-part .left-part h3 {
    margin-top: 2vh;
    font-size: 4.5vmin;
  }
  #section-fiche-artisan .container .bottom-part .left-part p {
    font-size: 3vmin;
  }
  #section-fiche-artisan .container .bottom-part .left-part hr {
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
  }
  #section-fiche-artisan .container .bottom-part .right-part {
    width: 100%;
    padding: 7vmin 8vmin 8vmin 6vmin;
  }
  #section-fiche-artisan .container .bottom-part .right-part h3 {
    margin-top: 2vh;
    font-size: 4.5vmin;
  }
  #section-fiche-artisan .container .bottom-part .right-part ul {
    padding-left: 2vmin;
    list-style-type: '- ';
  }
  #section-fiche-artisan .container .bottom-part .right-part p {
    font-size: 3vmin;
  }
  #section-contact {
    height: auto;
    padding-top: 18vh;
    padding-bottom: 76vh;
    background-image: url(../images/contact/bandeau-desktop.jpg);
    background-repeat: no-repeat;
    background-position: left 0px top -90px;
    background-size: cover;
  }
  #section-contact .container-formulaire {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #section-contact .container-formulaire .formulaire {
    width: 100%;
  }
  #section-contact .container-formulaire .formulaire form .double-input-row #form_nom {
    width: 45.6vmin;
  }
  #section-contact .container-formulaire .formulaire form .double-input-row #form_prenom {
    width: 45.6vmin;
  }
  #section-contact .container-formulaire .formulaire form .double-input-row #form_email {
    width: 54.2vw;
  }
  #section-contact .container-formulaire .formulaire form .double-input-row #form_telephone {
    width: 37vw;
  }
  #section-contact .disposition-droite {
    position: absolute;
    top: 88vh;
    right: 0vw;
    width: 100%;
    box-sizing: content-box;
    box-shadow: 1px 1px 3px 5px rgba(206, 206, 206, 0.5);
  }
  #section-contact .disposition-droite .infos-droite {
    min-height: 20vh;
    width: 80%;
    padding: 7vh 10vw;
  }
  #section-contact .disposition-droite .infos-droite h2 {
    margin-bottom: 3vh;
    font-size: 5vmin;
  }
  #section-contact .disposition-droite .infos-droite .infos p {
    font-size: 3.25vmin;
    margin-left: 20px;
  }
  #section-contact .disposition-droite .map-droite {
    box-sizing: border-box;
    height: 42vh;
  }
  #section-contact .disposition-droite .map-droite iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  footer {
    height: auto;
    background-image: url(../images/footer-mobile.jpg);
    background-size: cover;
    background-position: left 70% top -15%;
  }
  footer .container {
    padding-top: 5vh;
    padding-bottom: 15vh;
  }
  footer .container .pied {
    width: 50%;
  }
  footer .container .pied h2 {
    font-size: 10vmin;
    margin-bottom: 2vh;
  }
  footer .container .pied p {
    font-size: 4vmin;
    margin-bottom: 2vh;
  }
}
