<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bio_et_Vie{% endblock %}</title>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <script src="{{ asset('javascript/front.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('styles/front.css') }}">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <header>
            <div class="container">
                <div class="site">
                    <a class="nom-site" href="/"><p>BIO&VIE</p></a>
                </div>
                <div class="barre-nav">
                    <a class="lien-nav" href="/"><p>ACCUEIL</p></a>
                    <p class="sep-nav">|</p>
                    <a class="lien-nav" href="/pro"><p>NOS PROFESSIONNELS</p></a>
                    <p class="sep-nav">|</p>
                    <a class="lien-nav" href="/contact"><p>CONTACTEZ-NOUS</p></a>
                </div>
            </div>
        </header>

        {% block body %}
        
        {% endblock %}

        <footer>
            <div class="container">
                <div class="pied">
                    <a href="/"><h2>BIO&VIE</h2></a>
                    <a href="/contact"><p>Contactez-nous</p></a>
                    <p>Mentions légales</p>
                </div>
            </div>
        </footer>

    </body>

</html>
