{% extends 'back.html.twig' %}

{% block title %}Modification Artisan{% endblock %}

{% block body %}
    <div class="container-body">
        <h1>Modification Artisan</h1>

        {{ include('operateurs/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a class="retour" href="{{ path('app_operateurs_index') }}">Retour à la liste des artisans</a>
    </div>
{% endblock %}
