{% extends 'back.html.twig' %}

{% block title %}Nouvel Artisan{% endblock %}

{% block body %}
    <div class="container-body">
        <h1>Création nouvel artisan</h1>

        {{ include('operateurs/_form.html.twig') }}

        <a class="retour" href="{{ path('app_operateurs_index') }}">Retour à la liste des artisans</a>
    </div>
{% endblock %}
