{% extends 'back.html.twig' %}

{% block title %}Modification Activité{% endblock %}

{% block body %}
    <div class="container-body">
        <h1>Modification Activité</h1>

        {{ include('activites/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a class="retour" href="{{ path('app_activites_index') }}">Retour à la liste des activités</a>
    </div>
{% endblock %}
