{% extends 'back.html.twig' %}

{% block title %}Nouvelle Activité{% endblock %}

{% block body %}
    <div class="container-body">
        <h1>Création nouvelle activité</h1>

        {{ include('activites/_form.html.twig') }}

        <a class="retour" href="{{ path('app_activites_index') }}">Retour à la liste des activités</a>
    </div>
{% endblock %}
